# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
*.eln
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data

# eshell
eshell/

#
transient/
anaconda-mode/
cache/
auto-save-list/
url/
straight/
projectile-bookmarks.eld
custom.el
.last-package-update-day
projectile.cache
session.*
company-statistics-cache.el
/forge-database.sqlite
smex-items
amx-items
ido.last
/eln-cache/
/var/
/recentf
/history
/projects
/dirvish/
/elpaca/
/tree-sitter/
eln-cache/
elpaca/
undo/
var/
tree-sitter/
